body {
    font-family: Arial, sans-serif;
    margin-right: auto;

}

h1{ 
    margin-left: 2cm;
}

h2{
    color: black;
    margin-left: 2cm;
    margin-bottom: 5em;
    

}

form{
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 1cm;
    
}
label {
    display: block;
    margin-bottom: 0.5em;
    color: black;

}
input.form-control {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

button.btn.btn-primary {
    background-color: rgb(146, 4, 4);
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

button.btn.btn-primary:hover {
    background-color: #008fb3;
}